/* html, body
{
    height: 100%;
    margin: 0;
}

#personalInfo{
    height: 100%;
    background: red;
}

h1{
    background-color: orange;

} */

#quote {
  color: gray;
}
.small {
  width: 100px;
  height: 100px;
}
.right {
  margin-left: 35px;
}
